<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
</head>
<body>

<% if(htmlWebpackPlugin.options.ENV == 'prod') { %>
<!-- 百度统计 + 谷歌统计 -->
<script>
(function() {
  // 百度统计
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement('script');
    hm.src = 'https://hm.baidu.com/hm.js?12f2656ca2bbd3123c8d0ef2e3d2ef0a';
    var s = document.querySelector('script');
    s.parentNode.insertBefore(hm, s);
  })();
})();
(function() {
  // 谷歌统计
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] ||
    function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-88436830-1', 'auto');
  ga('send', 'pageview');
})();
</script>
<% } %>

</body>
</html>
