<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title>WEB前端开发 - </title>
  <link rel="stylesheet" href="/build/app.css">
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/view/index/index.html">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        
          <li class="">
            <a href="/view/index/index.html">Home</a>
          </li>
        
          <li class="active">
            <a href="/view/html/index.html">HTML</a>
          </li>
        
          <li class="">
            <a href="/view/css/index.html">CSS</a>
          </li>
        
          <li class="">
            <a href="/view/js/index.html">JS</a>
          </li>
        
          <li class="">
            <a href="/view/node/index.html">Node</a>
          </li>
        
          <li class="">
            <a href="/view/tool/index.html">Tool</a>
          </li>
        
          <li class="">
            <a href="/view/assemble/index.html">Assemble</a>
          </li>
        
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  
    
      <div class="markdown">
        <h1>语义化标签</h1>
<ul>
<li>header</li>
<li>main</li>
<li>footer</li>
<li>article</li>
<li>section</li>
<li>aside</li>
<li>menu</li>
<li>nav</li>
<li>dialog</li>
<li>figure</li>
<li>figcaption</li>
</ul>
<h1>JS加载</h1>
<ul>
<li>defer</li>
<li>async</li>
</ul>
<h1>输入类型</h1>
<ul>
<li>number</li>
<li>tel</li>
<li>url</li>
<li>email</li>
<li>search</li>
<li>range</li>
</ul>
<h1>表单属性</h1>
<ul>
<li>required</li>
<li>placeholder</li>
<li>autocomplete</li>
<li>pattern</li>
<li>formcation</li>
</ul>
<h1>音频、视频</h1>
<ul>
<li>audio</li>
<li>vedio</li>
</ul>
<h1>querySelector</h1>
<ul>
<li>querySelector()</li>
<li>querySelectorAll()</li>
<li>getElementsByClassName()</li>
</ul>
<h1>classList</h1>
<ul>
<li>length</li>
<li>item</li>
<li>add()</li>
<li>remove()</li>
<li>toggle()</li>
<li>contains()</li>
</ul>
<h1>dataset</h1>
<h1>JSON</h1>
<ul>
<li>JSON.parse()</li>
<li>JSON.stringify()</li>
</ul>
<h1>历史管理</h1>
<ul>
<li>window.onhashchange</li>
<li>window.onpopstate</li>
<li>history.pushState()</li>
<li>history.replaceState()</li>
</ul>
<h1>Storage</h1>
<ul>
<li>window.onstorage</li>
<li>window.sessionStorage</li>
<li>window.localStorage</li>
<li>getItem()</li>
<li>setItem()</li>
<li>removeItem()</li>
<li>clear()</li>
</ul>
<h1>Geolocation</h1>
<ul>
<li>navigator.geolocation.getCurrentPosition()</li>
<li>navigator.geolocation.watchPosition()</li>
<li>navigator.geolocation.clearWatch()</li>
</ul>
<h1>FormData</h1>
<h1>FileReader</h1>
<h1>Blob</h1>
<h1>WebSocket</h1>
<h1>Canvas</h1>
<h1>WebGL</h1>
<h1>SVG</h1>
<h1>Orientation</h1>
<h1>Fullscreen</h1>
<h1>Notification</h1>
<h1>离线应用</h1>
<ul>
<li>AddType text/cache-manifest .manifest</li>
<li>manifest=&quot;xxxxx.manifest&quot;</li>
<li>CACHE MANIFEST</li>
</ul>

      </div>
    
  
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-2017 Shuoshubao.com 版权所有 京ICP备15042742号</span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
