/* 头部 */

.m-center {
  max-width: 1200px;
  margin: 0 auto;
}

$max-zIndex : 100;

.g-header {
  position: relative;
  min-height: 56px;
  padding-top: 5px;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 5px;
    content: '';
    background-image: -webkit-linear-gradient( left, #ef5350, #ff7043 15%, #ffca28 30%, #66bb6a 45%, #26c6da 60%, #ab47bc 75%, #5c6bc0 90%, #ec407a);
  }
  .brand {
    cursor: pointer;
    float: left;
  }
  .title {
    color: #26c6da;
    font-size: 20px;
    line-height: 40px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #666;
  }
  .attention {
    line-height: 28px;
    float: right;
    padding-top: 30px;
    a {
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      background-color: #999;
      &:hover {
        background-color: #26c6da;
      }
    }
  }
}

.g-xs-header {
  display: none;
}

.g-nav {
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  ul {
    padding: 0 10px;
    overflow: hidden;
    @extend .m-center;
  }
  li {
    cursor: pointer;
    line-height: 50px;
    float: left;
    padding: 0 20px;
    color: #333;
    &.active,
    &:hover {
      color: #fff;
      background-color: #26c6da;
    }
  }
}
.mask-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity .4s;
  z-index: $max-zIndex - 1;
  &.active {
    opacity: .5;
    transform: translateX(-100%);
  }
}
@media screen and (max-width:800px) {
  .g-header {
    display: none;
  }
  .g-xs-header {
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #26c6da;
    overflow: hidden;
    position: relative;
    .title {
      color: #26c6da;
      float: right;
      font-size: 20px;
      padding: 0 10px;
    }
    .icon-menu {
      position: absolute;
      top: 5px;
      left: 0;
      width: 40px;
      height: 40px;
      &.active {
        .line {
          &:nth-child(1) {
            transform: rotate(45deg)
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg)
          }
        }
      }
    }
    .line {
      position: absolute;
      display: block;
      left: 7px;
      width: 25px;
      height: 2px;
      background-color: #26c6da;
      transition: .4s;
      transform-origin: 0;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 19px;
      }
      &:nth-child(3) {
        top: 27px;
      }
    }
  }
  .g-nav {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: $max-zIndex;
    width: 250px;
    border: 0;
    background-color: #fff;
    transition: .4s;
    &.active {
      // transform: translateX(100%);
      transform: translateX(0);
    }
    ul {
      max-height: 100%;
      overflow-y: auto;
      padding: 0;
    }
    li {
      width: 100%;
    }
  }
}


/* 底部 */

.g-footer {
  height: 51px;
  color: #666;
  .wrapper {
    /* line-height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    // background-color: #fff;
  }
  a {
    color: #6cc;
  }
}


/* 页面主体 */

.g-content {
  @extend .m-center;
}


/* 文章列表 */

.g-list {
  @extend .m-center;
  ul {
    line-height: 40px;
    color: #26c6da;
  }
  li {
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer;
  }
  .title {
    float: left;
  }
  .time {
    float: right;
  }
}


/* 文章 */

.g-article {
  padding: 10px;
  @extend .m-center;
}


/* nav */

.p-nav {
  padding: 10px;
  dl:not(:first-child) {
    margin-top: 10px;
  }
  dd {
    overflow: hidden;
    margin: 0 -10px;
    padding-bottom: 5px;
  }
  a {
    float: left;
    text-align: center;
    line-height: 28px;
    padding: 0 20px;
    margin: 10px 5px 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}


/* about */

.p-about {
  padding: 10px;
  dl {
    overflow: hidden;
  }
  dt {
    font-weight: 700;
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 20px;
  }
  dd {
    margin-left: 100px;
  }
}


/* markdown */

.markdown {
  :first-child {
    margin-top: 0;
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin: 10px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    padding: 0;
  }
  h1 {
    font-size: 26px;
    color: #333;
  }
  h2 {
    font-size: 20px;
    color: #333;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 14px;
    color: #777;
  }
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: #4183c4;
  }
  a:hover {
    text-decoration: underline;
  }
  em {
    font-style: italic;
  }
  ul {
    padding-left: 30px;
    list-style: disc;
  }
  ol {
    padding-left: 30px;
    list-style: decimal;
  }
  ul li >:first-child,
  ol li >:first-child,
  ul li ul:first-of-type,
  ol li ol:first-of-type,
  ul li ol:first-of-type,
  ol li ul:first-of-type {
    margin-top: 0;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }
  dl {
    padding: 0;
  }
  dl dt {
    font-size: 14px;
    font-style: italic;
    margin: 15px 0 5px;
    padding: 0;
  }
  dl dt:first-child {
    padding: 0;
  }
  dl dt >:first-child {
    margin-top: 0;
  }
  dl dt >:last-child {
    margin-bottom: 0;
  }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }
  dl dd >:first-child {
    margin-top: 0;
  }
  dl dd >:last-child {
    margin-bottom: 0;
  }
  hr {
    clear: both;
    overflow: hidden;
    height: 0;
    margin: 15px 0;
    padding: 0;
    border: none;
    border-bottom: 4px solid #ddd;
    background: transparent;
  }
  table th {
    font-weight: bold;
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ccc;
  }
  table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
}
