.ui-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    min-width: 800px;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(255, 255, 255, .5);
  }
  .hd {
    line-height: 30px;
    position: relative;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
  }
  .tit {
    font-weight: 700;
  }
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .icon {
    position: relative;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    &:after,
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      content: '';
      background: #000;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:after,
      &:before{
        background: #1ebcc5;
      }
    }
  }
  .bd {
    position: relative;
    min-height: 100px;
    padding: 5px 10px;
  }
  .ft {
    position: relative;
    overflow: hidden;
    height: 50px;
    padding: 10px 10px;
    text-align: right;
    color: #666;
    border-top: 1px solid #ddd;
  }
  .handle {
    line-height: 28px;
    display: inline-block;
    margin-left: 20px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
}