.ui-pagination {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    span {
        line-height: 28px;
        float: left;
        padding: 0 15px;
        cursor: pointer;
        &:not(:last-child) {
            border-right: 1px solid #ddd;
        }
        &.active {
            color: #3fab6c;
            background-color: #fff;
        }
    }
}
