.container {
  .sider-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;

    :global {
      .ant-tabs {
        .ant-tabs-content-holder {
          .ant-tabs-content {
            height: 100%;

            .ant-tabs-tabpane {
              height: 100%;
            }
          }
        }
      }
    }

    .monaco-editor-container {
      height: 100%;
    }
  }

  .iframe-container {
    flex: 1;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
