<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title>WEB前端开发 - </title>
  <link rel="stylesheet" href="/build/app.css">
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/view/index/index.html">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        
          <li class="">
            <a href="/view/index/index.html">Home</a>
          </li>
        
          <li class="">
            <a href="/view/html/index.html">HTML</a>
          </li>
        
          <li class="">
            <a href="/view/css/index.html">CSS</a>
          </li>
        
          <li class="active">
            <a href="/view/js/index.html">JS</a>
          </li>
        
          <li class="">
            <a href="/view/node/index.html">Node</a>
          </li>
        
          <li class="">
            <a href="/view/tool/index.html">Tool</a>
          </li>
        
          <li class="">
            <a href="/view/assemble/index.html">Assemble</a>
          </li>
        
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  
    
      <div class="markdown">
        <h1>const let</h1>
<ul>
<li>const</li>
<li>let</li>
</ul>
<h1>解构赋值</h1>
<ul>
<li>String</li>
<li>Number</li>
<li>Boolean</li>
<li>Array</li>
<li>函数参数</li>
<li>对象</li>
</ul>
<h1>Iterator</h1>
<ul>
<li>for...of</li>
<li>String、Array、array-like、Set、Map、WeakSet、WeakMap</li>
</ul>
<h1>typeof</h1>
<ul>
<li>number、string、boolean、undefined、function、object、<code>symbol</code></li>
</ul>
<h1>String</h1>
<ul>
<li>for...of</li>
<li>String.prototype.includes()</li>
<li>String.prototype.startsWith()</li>
<li>String.prototype.endsWith()</li>
<li>String.prototype.repeat()</li>
<li>String.prototype.padStart() // ES7</li>
<li>String.prototype.padEnd() // ES7</li>
<li>String.raw()</li>
<li>template string</li>
<li>tagged template</li>
<li>String.prototype.at()</li>
<li>String.prototype.normalize()</li>
</ul>
<h1>Number</h1>
<ul>
<li>Number.isFinite()</li>
<li>Number.isNaN()</li>
<li>Number.parseInt()</li>
<li>Number.parseFloat()</li>
<li>Number.isInteger()</li>
<li>Number.EPSILON</li>
<li>Number.isSafeInteger()</li>
</ul>
<h1>Array</h1>
<ul>
<li>Array.from()</li>
<li>Array.of()</li>
<li>Array.prototype.copyWithin(target, start = 0, end = this.length)</li>
<li>Array.prototype.find()</li>
<li>Array.prototype.findIndex(function(value, index, arr) {})</li>
<li>Array.prototype.fill()</li>
<li>Array.prototype.keys()</li>
<li>Array.prototype.values()</li>
<li>Array.prototype.entries()</li>
<li>Array.prototype.includes() // es7</li>
<li>数组的空位</li>
<li>数组推导</li>
</ul>
<h1>Math</h1>
<ul>
<li>Math.trunc()</li>
<li>Math.sign()</li>
<li>Math.cbrt()</li>
<li>Math.clz32()</li>
<li>Math.imul()</li>
<li>Math.fround()</li>
<li>Math.hypot()</li>
<li>Math.expm1()</li>
<li>Math.log1p()</li>
<li>Math.log10()</li>
<li>Math.log2()</li>
<li>Math.sinh()</li>
<li>Math.cosh()</li>
<li>Math.tanh()</li>
<li>Math.asinh()</li>
<li>Math.acosh()</li>
<li>Math.atanh()</li>
<li>指数运算符 (**)</li>
</ul>
<h1>Function</h1>
<ul>
<li>参数默认值</li>
<li>rest参数 (...变量名)</li>
<li>扩展运算符 (...)</li>
<li>Function.prototype.name</li>
<li>箭头函数 (=&gt;)</li>
<li>函数绑定 (::)</li>
<li>尾调用</li>
<li>尾递归</li>
<li>尾逗号</li>
</ul>
<h1>Object</h1>
<ul>
<li>ES6允许直接写入变量和函数，作为对象的属性和方法</li>
<li>ES6允许字面量定义对象时，将表达式写在方括号中</li>
<li>对象的方法的name属性</li>
<li>Object.is()    // +0 != 0, NaN == NaN</li>
<li>Object.assign()</li>
<li>Object.getOwnPropertyDescriptor()</li>
<li>Object.prototype.<strong>proto</strong></li>
<li>Object.setPrototypeOf()</li>
<li>Object.getPrototypeOf()</li>
<li>Object.values()</li>
<li>Object.entries()</li>
<li>Object.getOwnPropertyDescriptors()</li>
<li>扩展运算符(...)</li>
</ul>
<h1>Set [WeakSet]</h1>
<ul>
<li>new Set()</li>
<li>new Set([]) // array or array-like</li>
</ul>
<h2>property</h2>
<ul>
<li>Set.prototype.size</li>
</ul>
<h2>method</h2>
<ul>
<li>Set.prototype.add(value)</li>
<li>Set.prototype.delete(value)</li>
<li>Set.prototype.has(value)</li>
<li>Set.prototype.clear()</li>
</ul>
<h2>Iterator</h2>
<ul>
<li>Set.prototype.keys()</li>
<li>Set.prototype.values()</li>
<li>Set.prototype.entries()</li>
<li>Set.prototype.forEach()</li>
</ul>
<blockquote>
<p>Array.from(setInstance)  // Set -&gt; Array
...   // Set -&gt; flat to parameter in Function or menber in Array</p>
</blockquote>
<h1>Map [WeakSet]</h1>
<h2>property</h2>
<ul>
<li>Map.prototype.size</li>
</ul>
<h2>method</h2>
<ul>
<li>Map.prototype.get(key)</li>
<li>Map.prototype.set(key, value)</li>
<li>Map.prototype.has(key)</li>
<li>Map.prototype.delete(key)</li>
<li>Map.prototype.clear()</li>
</ul>
<h2>Iterator</h2>
<ul>
<li>Set.prototype.keys()</li>
<li>Set.prototype.values()</li>
<li>Set.prototype.entries()</li>
<li>Set.prototype.forEach()</li>
</ul>
<h1>async</h1>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td><span class="hljs-keyword">const</span> asyncFunc = <span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</td></tr><tr><td data-line-number=2></td><td>  <span class="hljs-keyword">await</span> promise</td></tr><tr><td data-line-number=3></td><td>}</td></tr><tr><td data-line-number=4></td><td></td></tr><tr><td data-line-number=5></td><td><span class="hljs-keyword">const</span> asyncFunc = <span class="hljs-keyword">async</span> () =&gt; {</td></tr><tr><td data-line-number=6></td><td>  <span class="hljs-keyword">await</span> promise</td></tr><tr><td data-line-number=7></td><td>}</td></tr><tr><td data-line-number=8></td><td></td></tr><tr><td data-line-number=9></td><td>asyncFunc().then()</td></tr></tbody></table></pre>
<h1>Referrence</h1>
<blockquote>
<p><a href="http://es6.ruanyifeng.com/">http://es6.ruanyifeng.com/</a></p>
<p><a href="http://kangax.github.io/compat-table/es5/">http://kangax.github.io/compat-table/es5/</a></p>
<p><a href="http://kangax.github.io/compat-table/es6/">http://kangax.github.io/compat-table/es6/</a></p>
</blockquote>

      </div>
    
  
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-2017 Shuoshubao.com 版权所有 京ICP备15042742号</span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
