<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title>WEB前端开发 - </title>
  <link rel="stylesheet" href="/build/app.css">
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/view/index/index.html">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        
          <li class="">
            <a href="/view/index/index.html">Home</a>
          </li>
        
          <li class="">
            <a href="/view/html/index.html">HTML</a>
          </li>
        
          <li class="">
            <a href="/view/css/index.html">CSS</a>
          </li>
        
          <li class="active">
            <a href="/view/js/index.html">JS</a>
          </li>
        
          <li class="">
            <a href="/view/node/index.html">Node</a>
          </li>
        
          <li class="">
            <a href="/view/tool/index.html">Tool</a>
          </li>
        
          <li class="">
            <a href="/view/assemble/index.html">Assemble</a>
          </li>
        
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  
    
      <div class="markdown">
        <h1>选择器</h1>
<ul>
<li>
<ul>
<li></li>
</ul>
</li>
<li>.class</li>
<li>ele</li>
<li>#id</li>
<li>,</li>
<li>
<blockquote></blockquote>
</li>
<li>
<ul>
<li></li>
</ul>
</li>
<li>~</li>
</ul>
<h1>属性</h1>
<ul>
<li>attr()</li>
<li>removeAttr()</li>
<li>prop()</li>
<li>removeProp()</li>
</ul>
<h1>文本</h1>
<ul>
<li>text()</li>
<li>html()</li>
<li>val()</li>
</ul>
<h1>css</h1>
<ul>
<li>css()</li>
<li>addClass()</li>
<li>removeClass()</li>
<li>toggleClass()</li>
<li>hasClass()</li>
</ul>
<h1>尺寸</h1>
<ul>
<li>width()、height()</li>
<li>outerWidth()、innerWidth()、outerHeight()、innerHeught()</li>
</ul>
<h1>位置</h1>
<ul>
<li>offset()</li>
<li>offsetParent()</li>
<li>position()</li>
<li>scrollLeft()、scrollTop()</li>
</ul>
<h1>数据</h1>
<ul>
<li>data()</li>
<li>removeData()</li>
<li>hasData()</li>
</ul>
<h1>操作</h1>
<ul>
<li>append()、appendTo()</li>
<li>prepend()、prependTo()</li>
<li>after()、insertAfter()</li>
<li>before()、insertBefore()</li>
<li>remove()、empty()</li>
</ul>
<h1>过滤</h1>
<ul>
<li>eq()、first()、last()</li>
<li>slice()、not()</li>
<li>filter()、map()</li>
<li>add()</li>
<li>has()</li>
<li>end()</li>
<li>each()</li>
</ul>
<h1>层级</h1>
<ul>
<li>siblings()、next()、prev()</li>
<li>parent()、parents()、closest()</li>
<li>children()、find()</li>
</ul>
<h1>事件</h1>
<ul>
<li>ready()</li>
<li>scroll()</li>
<li>resize()</li>
<li>click()</li>
<li>dbclick()</li>
<li>contextmenu()</li>
<li>hover()</li>
<li>mouseover()、mousemove()、mouseup()、mouseenter()、mouseleave()</li>
<li>focus()、blur()</li>
<li>change()</li>
<li>select()</li>
<li>submit()</li>
<li>keydown()、keypress()、keyup()</li>
</ul>
<h1>事件绑定</h1>
<ul>
<li>on()</li>
<li>one()</li>
<li>off()</li>
<li>trigger()</li>
</ul>
<h1>事件对象</h1>
<ul>
<li>pageX、pageY、timeStamp</li>
<li>target、data</li>
<li>type、which</li>
<li>preventDefault()</li>
<li>stopPropagation()</li>
</ul>
<h1>效果</h1>
<ul>
<li>show()</li>
<li>hide()</li>
<li>toggle()</li>
<li>animation()、delay()、stop()</li>
<li>fadeIn()、fadeOut()、fadeTo()、fadeToggle()</li>
<li>slideDown()、slideUp()、slideToggle()</li>
</ul>
<h1>ajax</h1>
<ul>
<li>$.ajax()</li>
<li>$.get()</li>
<li>$.getJson()</li>
<li>$.getScript()</li>
<li>$.post()</li>
<li>$.load()</li>
</ul>
<h1>工具</h1>
<ul>
<li>$.each()</li>
<li>$.map()</li>
<li>$.extend()</li>
<li>$.globalEval()</li>
<li>$.grep()</li>
<li>$.inArray()</li>
<li>$.isArray()</li>
<li>$.isEmptyObject()</li>
<li>$.isFunction()</li>
<li>$.Numeric()</li>
<li>$.isPlainObject()</li>
<li>$.isWindow()</li>
<li>$.makeArray()</li>
<li>$.merge()</li>
<li>$.noop()</li>
<li>$.now()</li>
<li>$.parseHTML()</li>
<li>$.parseJSON()</li>
<li>$.proxy()</li>
<li>$.trim()</li>
<li>$.type()</li>
<li>$.unique()</li>
</ul>
<h1>dom</h1>
<ul>
<li>length</li>
<li>get()</li>
<li>index()</li>
<li>toArray()</li>
</ul>

      </div>
    
  
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-2017 Shuoshubao.com 版权所有 京ICP备15042742号</span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
