<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title>WEB前端开发 - </title>
  <link rel="stylesheet" href="/build/app.css">
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/view/index/index.html">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        
          <li class="">
            <a href="/view/index/index.html">Home</a>
          </li>
        
          <li class="">
            <a href="/view/html/index.html">HTML</a>
          </li>
        
          <li class="">
            <a href="/view/css/index.html">CSS</a>
          </li>
        
          <li class="">
            <a href="/view/js/index.html">JS</a>
          </li>
        
          <li class="">
            <a href="/view/node/index.html">Node</a>
          </li>
        
          <li class="active">
            <a href="/view/tool/index.html">Tool</a>
          </li>
        
          <li class="">
            <a href="/view/assemble/index.html">Assemble</a>
          </li>
        
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  
    
      <div class="markdown">
        <h1>HTML</h1>
<ul>
<li>! 文档</li>
<li># id</li>
<li>. class</li>
<li>[] 属性</li>
<li>{} 文本</li>
<li>&gt; 子元素</li>
<li>+ 兄弟元素</li>
<li>^ 后退(类似jq的end)</li>
<li>() 分组</li>
<li>$ 自增</li>
<li>@ 起点(跟在$之后,后跟'-'表示降序)</li>
<li>* 批量</li>
</ul>
<h3>隐式标签 (Implicit TagNames)</h3>
<ul>
<li>块元素 → div</li>
<li>行间元素 → span</li>
<li>ul, ol → li</li>
<li>select, optgroup → option</li>
<li>table, thead ,tbody, tfoot → tr</li>
<li>tr → td</li>
</ul>
<h1>CSS</h1>
<ul>
<li>单值/负值/多值/多命令</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>m100 → margin: 100px;</td></tr><tr><td data-line-number=2></td><td>m-100 → margin: -100px;</td></tr><tr><td data-line-number=3></td><td>m0-a → margin: 0 auto;</td></tr><tr><td data-line-number=4></td><td>m1-2-3 → margin: 1px 2px 3px;</td></tr><tr><td data-line-number=5></td><td>m1-2-3-4 → margin: 1px 2px 3px 4px;</td></tr><tr><td data-line-number=6></td><td>w100+c#3 → width: 100px; color: #333;</td></tr></tbody></table></pre>
<ul>
<li>缺省单位</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>m10 → margin: <span class="hljs-number">10</span>px;</td></tr><tr><td data-line-number=2></td><td>m10em → margin: <span class="hljs-number">10</span>em;</td></tr></tbody></table></pre>
<ul>
<li>单位别名</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>p → %</td></tr><tr><td data-line-number=2></td><td>e → em</td></tr><tr><td data-line-number=3></td><td>x → ex</td></tr></tbody></table></pre>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>w100p → width: <span class="hljs-number">100</span>%</td></tr><tr><td data-line-number=2></td><td>m10p30e5x → margin: <span class="hljs-number">10</span>% <span class="hljs-number">30</span>em <span class="hljs-number">5</span>ex</td></tr></tbody></table></pre>
<ul>
<li>色值</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>c → color: #000;</td></tr><tr><td data-line-number=2></td><td>c# → color: #000;</td></tr><tr><td data-line-number=3></td><td>c#1 → color: #111;</td></tr><tr><td data-line-number=4></td><td>c#12 → color: #121212;</td></tr><tr><td data-line-number=5></td><td>c#123 → color: #123;</td></tr><tr><td data-line-number=6></td><td>c#1234 → color: #123412;</td></tr><tr><td data-line-number=7></td><td>c#12345 → color: #123451;</td></tr><tr><td data-line-number=8></td><td>c#123456 → color: #123456;</td></tr></tbody></table></pre>
<ul>
<li>没有单位的属性</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>* z-index</td></tr><tr><td data-line-number=2></td><td>* line-height</td></tr><tr><td data-line-number=3></td><td>* opacity</td></tr><tr><td data-line-number=4></td><td>* font-weight</td></tr></tbody></table></pre>
<ul>
<li>!important</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>! → !important</td></tr></tbody></table></pre>
<ul>
<li>厂商前缀</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>w: webkit</td></tr><tr><td data-line-number=2></td><td>m: moz</td></tr><tr><td data-line-number=3></td><td>s: ms</td></tr><tr><td data-line-number=4></td><td>o: o</td></tr></tbody></table></pre>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>-wm-bx-s</td></tr><tr><td data-line-number=2></td><td>-webkit-box-shadow: inset hoff voff blur color;</td></tr><tr><td data-line-number=3></td><td>-moz-box-shadow: inset hoff voff blur color;</td></tr><tr><td data-line-number=4></td><td>box-shadow: inset hoff voff blur color;</td></tr></tbody></table></pre>
<ul>
<li>渐变</li>
</ul>
<pre class="hljs language-javascript"><table><tbody><tr><td data-line-number=1></td><td>lg()</td></tr><tr><td data-line-number=2></td><td>background-image: -webkit-linear-gradient();</td></tr><tr><td data-line-number=3></td><td>background-image: -o-linear-gradient();</td></tr><tr><td data-line-number=4></td><td>background-image: linear-gradient();</td></tr><tr><td data-line-number=5></td><td></td></tr><tr><td data-line-number=6></td><td>lg(left, #123 30%, #456)</td></tr><tr><td data-line-number=7></td><td>background-image: -webkit-linear-gradient(left, #123 30%, #456);</td></tr><tr><td data-line-number=8></td><td>background-image: -o-linear-gradient(left, #123 30%, #456);</td></tr><tr><td data-line-number=9></td><td>background-image: linear-gradient(to right, #123 30%, #456);</td></tr></tbody></table></pre>
<h1>Referrence</h1>
<ol>
<li><a href="http://emmet.io/">http://emmet.io/</a></li>
<li><a href="http://docs.emmet.io/">http://docs.emmet.io/</a></li>
<li><a href="https://github.com/emmetio/emmet/blob/master/lib/snippets.json">https://github.com/emmetio/emmet/blob/master/lib/snippets.json</a></li>
</ol>

      </div>
    
  
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-2017 Shuoshubao.com 版权所有 京ICP备15042742号</span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
