<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="shortcut icon" href="favicon.ico">
  <title>WEB前端开发 - </title>
  <link rel="stylesheet" href="/build/app.css">
</head>
<body>

<nav class="nav">
  <div class="inner">
    <div class="wrap">
      <a class="home" href="/#">
        <svg
          class="logo"
          aria-hidden="true"
          width="30"
          height="30"
          version="1.1"
          viewBox="0 0 16 16"
        >
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span class="name">硕鼠宝</span>
      </a>
      <ul>
        
          <li class="">
            <a href="/view/index/index.html">Home</a>
          </li>
        
          <li class="">
            <a href="/view/html/index.html">HTML</a>
          </li>
        
          <li class="">
            <a href="/view/css/index.html">CSS</a>
          </li>
        
          <li class="">
            <a href="/view/js/index.html">JS</a>
          </li>
        
          <li class="">
            <a href="/view/node/index.html">Node</a>
          </li>
        
          <li class="active">
            <a href="/view/tool/index.html">Tool</a>
          </li>
        
          <li class="">
            <a href="/view/assemble/index.html">Assemble</a>
          </li>
        
      </ul>
      <a
        class="github"
        target="_blank" rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      >GitHub</a>
    </div>
  </div>
</nav>

<article class="content">
  
    
      <div class="markdown">
        <table>
<thead>
<tr>
<th>英语</th>
<th>释义</th>
</tr>
</thead>
<tbody>
<tr>
<td>identifier</td>
<td>标识符</td>
</tr>
<tr>
<td>declaring</td>
<td>声明</td>
</tr>
<tr>
<td>parse</td>
<td>解析</td>
</tr>
<tr>
<td>available</td>
<td>有效的</td>
</tr>
<tr>
<td>expression</td>
<td>表达式</td>
</tr>
<tr>
<td>parameter</td>
<td>参数</td>
</tr>
<tr>
<td>scope</td>
<td>范围</td>
</tr>
<tr>
<td>invoke</td>
<td>调用</td>
</tr>
<tr>
<td>reference</td>
<td>参考</td>
</tr>
<tr>
<td>refer</td>
<td>参考</td>
</tr>
<tr>
<td>syntax</td>
<td>语法</td>
</tr>
<tr>
<td>description</td>
<td>描述</td>
</tr>
<tr>
<td>correspond</td>
<td>对应</td>
</tr>
<tr>
<td>suffix</td>
<td>后缀</td>
</tr>
<tr>
<td>standard</td>
<td>标准</td>
</tr>
<tr>
<td>force</td>
<td>强制</td>
</tr>
<tr>
<td>modify</td>
<td>修改</td>
</tr>
<tr>
<td>anonymous</td>
<td>匿名的</td>
</tr>
<tr>
<td>specification</td>
<td>规范</td>
</tr>
<tr>
<td>statement</td>
<td>声明</td>
</tr>
<tr>
<td>correspond</td>
<td>对应</td>
</tr>
<tr>
<td>deprecate</td>
<td>过时</td>
</tr>
<tr>
<td>execute</td>
<td>执行</td>
</tr>
<tr>
<td>generator</td>
<td>生成器</td>
</tr>
<tr>
<td>shortcut</td>
<td>快捷方式</td>
</tr>
<tr>
<td>browser</td>
<td>浏览器</td>
</tr>
<tr>
<td>compatibility</td>
<td>兼容性</td>
</tr>
<tr>
<td>feature</td>
<td>功能, 特征</td>
</tr>
<tr>
<td>literal</td>
<td>字面量</td>
</tr>
<tr>
<td>class</td>
<td>类</td>
</tr>
<tr>
<td>object</td>
<td>对象</td>
</tr>
<tr>
<td>prototype</td>
<td>原型</td>
</tr>
<tr>
<td>instance</td>
<td>实例</td>
</tr>
<tr>
<td>method</td>
<td>方法</td>
</tr>
<tr>
<td>propertie</td>
<td>属性</td>
</tr>
<tr>
<td>oriented</td>
<td>面向的</td>
</tr>
<tr>
<td>constructor</td>
<td>构造函数</td>
</tr>
<tr>
<td>inherit</td>
<td>继承</td>
</tr>
<tr>
<td>recurse</td>
<td>递归</td>
</tr>
<tr>
<td>specify</td>
<td>指定</td>
</tr>
<tr>
<td>generally</td>
<td>一般</td>
</tr>
<tr>
<td>release</td>
<td>发布</td>
</tr>
<tr>
<td>candidate</td>
<td>候选人</td>
</tr>
<tr>
<td>tutorial</td>
<td>教程</td>
</tr>
<tr>
<td>redirect</td>
<td>重定向</td>
</tr>
<tr>
<td>profile</td>
<td>简介</td>
</tr>
<tr>
<td>explore</td>
<td>探索</td>
</tr>
<tr>
<td>involve</td>
<td>涉及</td>
</tr>
<tr>
<td>typical</td>
<td>典型的</td>
</tr>
<tr>
<td>plugin</td>
<td>插件</td>
</tr>
<tr>
<td>via</td>
<td>通过</td>
</tr>
<tr>
<td>require</td>
<td>需要</td>
</tr>
<tr>
<td>stable</td>
<td>稳定的</td>
</tr>
<tr>
<td>ensure</td>
<td>确保</td>
</tr>
<tr>
<td>certain</td>
<td>某些</td>
</tr>
<tr>
<td>reference</td>
<td>参考</td>
</tr>
<tr>
<td>Synopsis</td>
<td>简介</td>
</tr>
<tr>
<td>checkout</td>
<td>校验</td>
</tr>
<tr>
<td>config</td>
<td>配置</td>
</tr>
<tr>
<td>command</td>
<td>命令</td>
</tr>
<tr>
<td>directory</td>
<td>目录</td>
</tr>
<tr>
<td>multiple</td>
<td>多个</td>
</tr>
<tr>
<td>simultaneously</td>
<td>同时</td>
</tr>
<tr>
<td>locally</td>
<td>本地的</td>
</tr>
<tr>
<td>execute</td>
<td>执行</td>
</tr>
<tr>
<td>request</td>
<td>请求</td>
</tr>
<tr>
<td>assume</td>
<td>假设</td>
</tr>
<tr>
<td>recursive</td>
<td>递归</td>
</tr>
<tr>
<td>sophisticated</td>
<td>复杂的</td>
</tr>
<tr>
<td>manually</td>
<td>手动</td>
</tr>
<tr>
<td>polling</td>
<td>轮询</td>
</tr>
<tr>
<td>deploy</td>
<td>部署</td>
</tr>
<tr>
<td>proxy</td>
<td>代理</td>
</tr>
<tr>
<td>interface</td>
<td>接口，关键字</td>
</tr>
<tr>
<td>interactive</td>
<td>交互式的</td>
</tr>
<tr>
<td>caution</td>
<td>警告</td>
</tr>
<tr>
<td>integration</td>
<td>集成</td>
</tr>
<tr>
<td>grant</td>
<td>允许</td>
</tr>
<tr>
<td>define stack</td>
<td>定义栈</td>
</tr>
<tr>
<td>call stack</td>
<td>调用栈</td>
</tr>
<tr>
<td>bundler</td>
<td>打包</td>
</tr>
<tr>
<td>boilerplate</td>
<td>模板</td>
</tr>
<tr>
<td>intent</td>
<td>目的</td>
</tr>
<tr>
<td>nullified</td>
<td>无效的</td>
</tr>
<tr>
<td>term</td>
<td>术语</td>
</tr>
<tr>
<td>terminology</td>
<td>术语</td>
</tr>
<tr>
<td>dispatch</td>
<td>分发</td>
</tr>
<tr>
<td>avatar</td>
<td>头像</td>
</tr>
<tr>
<td>deactivate</td>
<td>停用</td>
</tr>
<tr>
<td>mount</td>
<td>安装</td>
</tr>
<tr>
<td>omit</td>
<td>忽略</td>
</tr>
</tbody>
</table>

      </div>
    
  
</article>

<footer class="footer">
  <div class="outer">
    <div class="wrap">
      <span>© 2014-2017 Shuoshubao.com 版权所有 京ICP备15042742号</span>
      <span> Powered by </span>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/shuoshubao/shuoshubao.github.io/"
      > GitHub </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.github.io/react/"
      > React </a>
    </div>
  </div>
</footer>

</body>
</html>
