<article class="g-loading">
  <div class="w-loading ">
    <div class="m-loading">
      <div class="item item-y"></div>
      <div class="item item-r"></div>
      <div class="item item-g"></div>
    </div>
    <div class="text">数据加载中</div>
  </div>
</article>
<footer class="g-footer">
  <div class="outer">
    <div class="wrapper">
      <span>©</span>
      <time>2016</time>
      <span>{{ site.title }}</span>
      <span>|</span>
      <span>Powered by </span>
      <a target="_blank" href="https://github.com/shuoshubao/shuoshubao.github.io/">GitHub</a>
    </div>
  </div>
</footer>
<script>
// 百度统计
if(window.location.hostname === '{{ site.pathname }}') {
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?12f2656ca2bbd3123c8d0ef2e3d2ef0a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
}
</script>
<script id="script-data">
var DATA = [
  {% for post in site.posts %}
    {
    title: "{{ post.title }}",
    date: "{{ post.date | date: "%Y-%m-%d" }}",
    url: "{{ post.url }}/",
    path: "{{ post.path }}",
    collection: "{{ post.collection }}",
    categories: "{{ post.categories }}",
    permalink: "{{ post.permalink }}",
    },
  {% endfor %}
];
</script>
<script src="/sta/lib/sea.js"></script>
<script>
seajs.config({
  base: '/sta/lib/',
  alias: {
    jquery: '/sta/lib/jquery.js',
    zepto: '/sta/lib/zepto.js',
  }
})
seajs.use('/sta/js/base');
</script>