<header class="g-header">
  <div class="wrapper">
    <div class="brand">
      <h1 class="title">{{ site.title }}</h1>
      <h2 class="subtitle">{{ site.description }}</h2>
    </div>
    <div class="attention">
      <a class="iconfont icon-qq" target="_blank" href="http://sighttp.qq.com/authd?IDKEY=ac3c33ef370b9c4efc05e5660a2d2085b121007e508c595f"></a>
      <a class="iconfont icon-weibo" target="_blank" href="http://weibo.com/qq759979885"></a>
    </div>
  </div>
</header>
<header class="g-xs-header">
  <h1 class="title">FE</h1>
  <div class="icon-menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>
<nav class="g-nav">
  <ul>
    <li data-href="/">首页</li>
    <li data-href="/html/">HTML</li>
    <li data-href="/css/">CSS</li>
    <li data-href="/js/">JS</li>
    <li data-href="/jq/">jQuery</li>
    <li data-href="/tool/">Tool</li>
    <li data-href="/nav/">Resource</li>
    <li data-href="/about/">About</li>
  </ul>
</nav>
<div class="mask-nav"></div>
