<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <meta name="keywords" content="硕鼠宝,shuoshubao,shubao,FE,html5,css3,js,jquery,jq">
  <link rel="stylesheet" href="{{ "/sta/css/base.css" | prepend: site.baseurl }}">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  <base target="_blank">
</head>
