.hljs {
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  transition: border-color .2s;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 3px rgba(2, 128, 174, .3);
  tr:hover td {
    background-color: transparent;
  }
  td {
    height: 20px;
    padding: 0 !important;
    border: none !important;
    &:first-child {
      width: 20px;
      text-align: right;
      color: rgba(27, 31, 35, .3);
      padding: 0 10px !important;
      &:before {
        content: attr(data-line-number);
      }
    }
  }
  &:hover {
    border-color: rgb(2, 128, 174);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  }
  &,
  code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 12px;
  }
  code {
    margin: 0;
    padding: 0;
    padding: 1px 3px;
    color: #555;
    border: none;
    background: transparent;
    background-color: rgba(0, 0, 0, .04);
  }
  table {
    display: table;
  }
}
