.markdown {
  & > div {
    &>*:first-child {
      margin-top: 0;
    }
    &>*:last-child {
      margin-bottom: 0;
    }
    & > p,
    & > blockquote,
    & > ul,
    & > ol,
    & > dl,
    & > table,
    & > pre {
      margin: 10px 0;
    }
  }
  blockquote {
    margin: 0;
    color: #828282;
    border-left: 4px solid #05a5d1;
    background-color: #f5f5f5;
    padding: 5px 10px;
    font-size: 14px;
    font-style: italic;
    p {
      margin: 0 !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    padding: 0;
  }
  h1 {
    font-size: 28px;
    color: #000;
  }
  h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    color: #777;
    font-size: 14px;
  }
  & > h2:first-child,
  & > h1:first-child,
  & > h1:first-child + h2,
  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child,
  & > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: #4183c4;
  }
  a:hover {
    text-decoration: underline;
  }
  em {
    font-style: italic;
  }
  ul {
    padding-left: 15px;
    line-height: 30px;
    list-style: disc;
  }
  ol {
    padding-left: 30px;
    list-style: decimal;
  }
  ul li >:first-child,
  ol li >:first-child,
  ul li ul:first-of-type,
  ol li ol:first-of-type,
  ul li ol:first-of-type,
  ol li ul:first-of-type {
    margin-top: 0;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }
  dl {
    padding: 0;
  }
  dl dt {
    font-size: 14px;
    font-style: italic;
    margin: 15px 0 5px;
    padding: 0;
  }
  dl dt:first-child {
    padding: 0;
  }
  dl dt >:first-child {
    margin-top: 0;
  }
  dl dt >:last-child {
    margin-bottom: 0;
  }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }
  dl dd >:first-child {
    margin-top: 0;
  }
  dl dd >:last-child {
    margin-bottom: 0;
  }
  hr {
    clear: both;
    overflow: hidden;
    height: 0;
    margin: 15px 0;
    padding: 0;
    border: none;
    border-bottom: 4px solid #ddd;
    background: transparent;
  }
  table + table {
    margin-top: 10px;
  }
  table th {
    font-weight: bold;
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ccc;
  }
  thead tr {
    background-color: #f0f0f0;
  }
  tbody tr:hover {
    background-color: #f8f8f8;
  }
}
