html {
    height: 100%;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    height: 100%;
    color: #000;
    font: 14px/1.5 arial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:after,
:before {
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background-color: #999999;
    outline: 1px solid #555;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #fcf8e3;
}

.el-card {
    .el-card__header,
    .el-card__body {
        padding: 10px;
    }
}
