:focus-visible {
  outline: none;
}

.markdown-source {
  margin: 0;
  line-height: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: #fff;
  }
}

.ant-modal.algolia-modal {
  padding-bottom: 0;

  .ant-modal-close {
    display: none !important;
  }
}

.algolia-container {
  min-height: 200px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  & > div {
    position: static !important;
  }

  .ant-select-dropdown {
    position: static !important;
    display: block !important;
    box-shadow: none !important;
  }

  .rc-virtual-list-holder {
    max-height: none !important;
  }
}
