:focus-visible {
  outline: none;
}

.markdown-source {
  margin: 0;
  line-height: 20px;
}

html {
  &[data-theme='dark'] {
    background: #000;
  }

  &[data-theme='light'] {
    background: #fff;
  }
}

@media screen and (min-width: 768px) {
  body {
    .site-layout-sider-actions {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    .ant-layout-header {
      display: none !important;
    }

    .site-layout-sider-actions {
      .ant-tag {
        display: none;
      }
    }
  }
}

.ant-modal.algolia-modal {
  padding-bottom: 0;

  .ant-modal-close {
    display: none !important;
  }
}

.algolia-container {
  min-height: 200px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  & > div {
    position: static !important;
  }

  .ant-select-dropdown {
    position: static !important;
    display: block !important;
    box-shadow: none !important;
  }

  .rc-virtual-list-holder {
    max-height: none !important;
  }
}

.ant-card {
  & + & {
    margin-top: 12px;
  }
}
