body .markdown-body {
  pre {
    position: relative;
    line-height: 20px;
    padding: 0;
    code {
      display: block;
      margin: 0;
      padding: 16px 12px;
      overflow-x: auto;
      word-break: normal;
      background: rgb(24 24 27);
      counter-reset: line;
      .line {
        &::before {
          display: inline-block;
          width: 1rem;
          margin-right: 1rem;
          color: rgb(82 82 82);
          text-align: right;
          content: counter(line);
          counter-increment: line;
        }
      }
      .markdown-code-btns {
        position: absolute;
        top: 5px;
        right: 10px;
        color: hsl(0deg 0% 54.9% / 80%);
        line-height: 20px;

        .btn-lang {
          display: inline-block;
          padding: 0 5px;
          line-height: 20px;
          cursor: default;
        }

        .anticon-copy {
          padding: 0 5px;
          line-height: 20px;
          cursor: pointer;
          transition: color 0.1s;
        }
      }
    }
  }
}
