body .markdown-body {
  & > *:first-child {
    margin-top: 0;
  }

  pre {
    position: relative;
    line-height: 20px;
    padding: 0;
    code {
      display: block;
      margin: 0;
      padding: 16px 12px;
      overflow-x: auto;
      word-break: normal;
      background: rgb(24 24 27);
      counter-reset: line;
      .line {
        &::before {
          display: inline-block;
          width: 1rem;
          margin-right: 1rem;
          color: rgb(82 82 82);
          text-align: right;
          content: counter(line);
          counter-increment: line;
        }
      }
      .markdown-code-btns {
        position: absolute;
        top: 5px;
        right: 10px;
        color: hsl(0deg 0% 54.9% / 80%);
        line-height: 20px;

        .btn-lang {
          display: inline-block;
          padding: 0 5px;
          line-height: 20px;
          cursor: default;
        }

        .anticon-copy {
          padding: 0 5px;
          line-height: 20px;
          cursor: pointer;
          transition: color 0.1s;
        }
      }
    }
  }

  blockquote {
    margin: 22px 0;
    padding: 1px 23px;
    color: #666;
    background-color: #f8f8f8;
    border-left: 4px solid #cbcbcb;

    &::after {
      display: block;
      content: '';
    }

    & > p {
      margin: 10px 0;
    }
  }

  a {
    color: #409eff;
  }

  ul {
    line-height: 20px;
  }

  table {
    width: 100%;

    th,
    td {
      padding: 12px 10px;
      text-align: left;
      border: 1px solid #ebeef5;
    }

    th {
      background-color: #f5f7fa;
    }
  }
}
